{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">{{ product.title }}</h1>
        <p>{{ product.description }}</p>
        <p class="product-price">{{ product.price }}$</p>
        <a href="#">{{ product.user.first_name }} {{ product.user.last_name }}</a>
        <a href="#">{{ product.approved_by.username }}</a>
    </div>
    {% if product.user_id == request.user.id %}
        <a href="{% url 'update_product' id=product.id %}" type="button" class="btn btn-primary">Edit</a>
    {% endif %}
         <a href="{% url 'add_to_cart' product_id=product.id %}" type="button" class="btn btn-lg btn-success">Buy A Course</a>

</div>

{% endblock %}